/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:ital@1&family=Poppins:wght@500&family=Raleway:ital@0;1&family=Roboto+Condensed&family=Teko&family=Work+Sans:wght@400;500&display=swap');

/* common styles */
body{
  font-family: Work Sans;
}
main,footer{
  background: #FFF;
  border: 0;
  padding-left: 180px;
  padding-right: 180px;
  padding-top: 85px;
}

/* Mobile Device media query for main, footer */
@media screen and (max-width:767.98px) {
  main,footer{
    margin: 0;
    padding: 0 0;
  }
}

/* header section styles */
.header-section{
  background: rgba(255, 144, 14, 0.10);
  width: 100%;
  border: 0;
}
.header{
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  padding-right: 200px;
  border: 0;
}

/* navbar styles */
.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title .title{
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
.nav-link ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.nav-link ul, li, a{
  text-decoration: none;
  list-style: none;
  color: #424242;
  font-size: 18px;
  font-weight: 500;
}

/* Mobile device media query for header section */
@media screen and (max-width:767.98px) {
  .header-section{
    max-width: 100%;
    background: #FFF;
  } 
  .header{
   max-width: 100%;
   padding-left: 0px;
   padding-right: 0px;
  }
  .header-nav{
    max-width: 100%;
    flex-direction: column;
    align-items: stretch;
  }
  .nav-title .title{
    margin: 0;
    padding-bottom: 20px;
  }
  .header-nav .nav-link ul{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 5px;
    padding: 0 15px;
  }
}

/* banner section styles */
.banner{
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-left: 200px;
  padding-right: 200px;
}
.banner-info{
  width: 862px;
  
}
.banner-info .banner-title{
  color: #131313;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 30px;
}
.banner-details{
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  padding-bottom: 32px;
}
.button{
  padding-bottom: 50px;
  text-align: center;
}
.banner-button{
  color: #FFF;
  border: 0;
  background: #FF900E;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  padding: 21px 24px 20px 25px;
}
.banner-img, img{
  width: 100%;
  height: 500px;
  padding-bottom: 45px;
}

/* Mobile device media query for header banner section */
@media screen and (max-width:767.98px) {
  .banner-section{
    max-width: 100%;
  }
  .banner{
    flex-direction: row;
    max-width: 100%;
    padding: 0 0;
    margin: 0;
  }
  .banner-info{
    padding-bottom: 22px;
  }
  .banner-info .banner-title{
    margin: 0;
    padding-bottom: 30px;
    padding-top: 50px;
  }
  .banner-details{
    text-align: left;
    padding-bottom: 32px;
    margin: 0;
  }
  .banner-img, img{
    max-width: 100%;
    max-height: 300px;
  }
}

/* Features section styles */
.feature-section{
  padding-bottom: 100px;
}
.features{
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.feature-images{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
}
.feature-thumbnail img{
  width: 300px;
  height: 250px;
  border-radius: 8px;
}
.feature-info{
  padding-top: 100px;
}
.feature-title{
  color: #727272;
  font-size: 45px;
  font-weight: 500;
}
.feature-title .span-1{
  font-weight: 700;
  color: #131313;
}
.feature-title .span-2{
  font-weight: 700;
  color: #FF900E;
}
.feature-details{
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 32px;
  line-height: 26px;
}

/* Mobile device media query for feature section */
@media screen and (max-width:767.98px) {
  .feature-section{
    max-width: 100%;
  }
  .features{
    flex-direction: column-reverse;
    gap: 10px;
  }
  .feature-images{
    grid-template-columns: repeat(1, 1fr);
  }
  .feature-thumbnail img{
    max-width: 100%;
    max-height: 250px;
  }
  .feature-info{
    padding-top: 10px;
    padding-bottom: 42px;
  }
}

/* Feature Benefit section styles */
.feature-benefit-section{
  padding-bottom: 100px;
}
.feature-benefit{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.vl{
  width: 5px;
  height: 106px;
  background: #FF900E;
}
.benefit-section-title{
  display: flex;
  gap: 21px;
}
.feature-benefit-title{
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  width: 468px;
  height: 106px;
  margin: 0;
  padding-bottom: 24px;
}
.section-title{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}
.feature-benefit-details{
  width: 586px;
  height: 78px;
  color: #727272;
  line-height: 26px;
  margin: 0;
  padding-bottom: 30px;
}
.feature-benefit .benefit-section-title .section-title .benefit-article-section{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background: #fafafa;
}
.feature-benefit .benefit-section-title .section-title .benefit-article{
  border: 1px solid white;
  width: 586px;
  height: auto;
  padding: 0px 42px 30px 30px;
  background: #FFF;
  border-radius: 5px;
  margin: 8px;
}
.feature-benefit .benefit-section-title .section-title .benefit-article .article-title{
  color: #131313;
  font-size: 20px;
  font-weight: 600;
  margin: 8;
  
}
.feature-benefit .benefit-section-title .section-title .benefit-article .article-details{
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}
.feature-benefit .feature-benefit-img {
  display: flex;
  flex-direction: column;
  
}
.feature-benefit .feature-benefit-img .feature-benefit-button .benefit-button{
  background: #FF900E;
  padding: 46px 42px;
  border-radius: 8px;
  border: 0;
}
.feature-benefit .feature-benefit-img img{
  height: 1020px;
  width: 508px;
  border-radius: 8px;
}
.feature-benefit-section .feature-benefit-button{
  margin-left: -20px;
  margin-top: -150px;
  
}
.feature-benefit-section .feature-benefit-button .benefit-button{
  background: #FF900E;
  padding: 46px 42px;
  border-radius: 8px;
  border: 0;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
}
.feature-benefit-section .feature-benefit-button .benefit-button span{
  font-size: 65px;
  font-weight: 700;
  color: #FFF;
}

/* Mobile Device media query for feature benefit section */
@media screen and (max-width:767.98px) {
  .feature-benefit{
    flex-direction: column;
    align-items: flex-start;
  }
  .benefit-section-title{
    gap: 5px;
  }
  .feature-benefit-title{
    max-width: 365px;
    min-height: 130px;
  }
  .feature-benefit-details{
    max-width: 350px;
    min-height: 140px;
  }
  .feature-benefit .benefit-section-title .section-title .benefit-article-section{
    grid-row-gap: 5px;
  }
  .feature-benefit .benefit-section-title .section-title .benefit-article{
    max-width: 350px;
    padding: 0 5px;
    margin: 5px;
  }
  .feature-benefit .benefit-section-title .section-title .benefit-article .article-details{
    padding-bottom: 30px;
  }
  .feature-benefit .feature-benefit-img img{
    max-width: 100%;
    max-height: 400px;
  }
  .feature-benefit-section .feature-benefit-button{
    padding-left: 0px; 
  } 
}

/* About fact section styles */
.fact-info .fact-title{
  font-size: 45px;
  font-weight: 700;
  color: #131313;
  margin: 0;
  padding-bottom: 24px;
}
.fact-info .fact-details{
  width: 542px;
  height: 52px;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 100px;
  line-height: 26px;
}
.fact-lists{
  display: flex;
  justify-content: space-between;
  padding-bottom: 180px;
}
.fact-list{
  width: 240px;
  height: 240px;
  border-radius: 8px;
  border: 1px solid #FF900E;
  transition: transform 2s;
}
.fact-list:hover{
  transform: rotate(180deg);
  border: 1px solid red;
}
.fact-list .list-thumbnail img{
  width: 45px;
  height: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 45px;
  line-height: 0.5;
}
.fact-list .list-thumbnail{
  color: #424242;
  font-size: 45px;
  font-weight: 600;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  line-height: 0.7;
}
.fact-list .list-thumbnail .list-span{
  color: #727272;
  font-size: 20px;
  font-weight: 600;
}

/* Mobile Device media query for about fact section */
@media screen and (max-width:767.98px) {
  .fact-info .fact-details{
    max-width: 100%;
    padding-bottom: 80px;
  }
  .fact-lists{
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-bottom: 100px;
  }
}

/* Sponsor section styles */
.sponsor-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sponsor-info .sponsor-title{
  text-align: center;
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 24px;
}
.sponsor-info .sponsor-details{
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  width: 542px;
  height: 52px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 50px;
}
.sponsor-lists{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sponsor-lists .sopnsor-list img{
  width: 166px;
  height: 50px;
  padding-bottom: 150px;
}

/* Mobile Device media query for sponsor section */
@media screen and (max-width:767.98px) {
  .sponsor-info .sponsor-details{
    max-width: 100%;
    padding-bottom: 80px;
  }
  .sponsor-lists{
    flex-direction: column;
    gap: 30px;
    padding-bottom: 80px;
  }
  .sponsor-lists .sopnsor-list img{
    max-width: 100%;
    min-height: 50px;
    padding-bottom: 30px;
  }
}

/* Membership section styles */
.membership-section{
  padding-bottom: 50px;
}
.membership-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.membership-info .membership-title{
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 20px;
}
.membership-info .membership-details{
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  width: 542px;
  height: 52px;
  text-align: center;
  line-height: 26px;
  margin: 0;
  padding-bottom: 50px;
}
.membership-lists{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.membership-lists .membership-list{
  border: 1px solid #FF900E;
  width: 170px;
  height: 150px;
}
.membership-lists .membership-list img{
  width: 150px;
  height: 150px;
  padding: 0px 10px;
}

/* Mobile Device media query for Membership section */
@media screen and (max-width:767.98px) {
  .membership-section{
    padding-bottom: 10px;
  }
  .membership-info .membership-details{
    max-width: 100%;
    padding-bottom: 60px;
  }
  .membership-lists{
    flex-direction: column;
    gap: 30px;
    padding-bottom: 10px;
  }
}

/* Footer section */
.footer-section{
  margin: 0;
  padding-bottom: 30px;
}
.footer{
  border-radius: 8px;
  background: #FFF4E7;
  height: 100px;
}
.footer .copyright{
  color: #424242;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding: 39px 250px;
}

/* Mobile Device media query for Membership section */
@media screen and (max-width:767.98px) {
  .footer-section{
    padding-bottom: 150px;
  }
  .footer{
    max-width: 100%;
    max-height: 100px;
  }
  .footer .copyright{
    font-size: 16px;
    padding: 35px 0px;
  }
}

