/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:ital@1&family=Poppins:wght@500&family=Raleway:ital@0;1&family=Roboto+Condensed&family=Teko&family=Work+Sans:wght@400;500&display=swap');

/* common styles */
body{
  font-family: Work Sans;
}
main{
  background: #FFF;
  border: 0;
  padding-left: 180px;
  padding-right: 180px;
  padding-top: 85px;
}

/* header section styles */
.header-section{
  background: rgba(255, 144, 14, 0.10);
  width: 100%;
  border: 0;
}
.header{
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  padding-right: 200px;
  border: 0;
}

/* navbar styles */
.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title .title{
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
.nav-link ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.nav-link ul, li, a{
  text-decoration: none;
  list-style: none;
  color: #424242;
  font-size: 18px;
  font-weight: 500;
}

/* banner section styles */
.banner{
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-left: 200px;
  padding-right: 200px;
}
.banner-info{
  width: 862px;
  
}
.banner-info .banner-title{
  color: #131313;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}
.banner-details{
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  padding-bottom: 32px;
}
.button{
  padding-bottom: 50px;
}
.banner-button{
  color: #FFF;
  border: 0;
  background: #FF900E;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  padding: 21px 24px 20px 25px;
}
.banner-img, img{
  width: 100%;
  height: 500px;
  padding-bottom: 45px;
}

/* Features section styles */
.feature-section{
  padding-bottom: 100px;
}
.features{
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.feature-images{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
}
.feature-thumbnail img{
  width: 250px;
  height: 250px;
  border-radius: 8px;
}
.feature-info{
  padding-top: 100px;
}
.feature-title{
  color: #727272;
  font-size: 45px;
  font-weight: 500;
}
.feature-title .span-1{
  font-weight: 700;
  color: #131313;
}
.feature-title .span-2{
  font-weight: 700;
  color: #FF900E;
}
.feature-details{
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 32px;
  line-height: 26px;
}

/* Feature Benefit section styles */
.feature-benefit-section{
  padding-bottom: 100px;
}
.feature-benefit{
  display: flex;
  justify-content: space-between;
  gap: 46px;
}
.vl{
  width: 5px;
  height: 106px;
  background: #FF900E;
}
.benefit-section-title{
  display: flex;
  gap: 21px;
}
.feature-benefit-title{
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  width: 468px;
  height: 106px;
  margin: 0;
  padding-bottom: 24px;
}
.feature-benefit-details{
  width: 586px;
  height: 78px;
  color: #727272;
  line-height: 26px;
  margin: 0;
  padding-bottom: 30px;
}
.feature-benefit .benefit-section-title .section-title .benefit-article-section{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 20px;
  background: #fafafa;
}
.feature-benefit .benefit-section-title .section-title .benefit-article{
  border: 1px solid white;
  width: 586px;
  height: auto;
  padding: 0px 42px 30px 30px;
  background: #FFF;
  border-radius: 5px;
  margin: 8px;
}
.feature-benefit .benefit-section-title .section-title .benefit-article .article-title{
  color: #131313;
  font-size: 20px;
  font-weight: 600;
  margin: 8;
  
}
.feature-benefit .benefit-section-title .section-title .benefit-article .article-details{
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}
.feature-benefit .feature-benefit-img {
  display: flex;
  flex-direction: column;
  
}
.feature-benefit .feature-benefit-img .feature-benefit-button .benefit-button{
  background: #FF900E;
  padding: 46px 42px;
  border-radius: 8px;
  border: 0;
}
.feature-benefit .feature-benefit-img img{
  height: 1225px;
  width: 508px;
  border-radius: 8px;
}
.feature-benefit-section .feature-benefit-button{
  padding-left: 720px;
  z-index: 500;
}
.feature-benefit-section .feature-benefit-button .benefit-button{
  background: #FF900E;
  padding: 46px 42px;
  border-radius: 8px;
  border: 0;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
}
.feature-benefit-section .feature-benefit-button .benefit-button span{
  font-size: 65px;
  font-weight: 700;
  color: #FFF;
}

/* About fact section styles */
.fact-info .fact-title{
  font-size: 45px;
  font-weight: 700;
  color: #131313;
  margin: 0;
  padding-bottom: 24px;
}
.fact-info .fact-details{
  width: 542px;
  height: 52px;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 100px;
  line-height: 26px;
}
.fact-lists{
  display: flex;
  justify-content: space-between;
  padding-bottom: 180px;
}
.fact-list{
  width: 240px;
  height: 240px;
  border-radius: 8px;
  border: 1px solid #FF900E;
  transition: transform 2s;
}
.fact-list:hover{
  transform: rotate(180deg);
  border: 1px solid red;
}
.fact-list .list-thumbnail img{
  width: 45px;
  height: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 45px;
  line-height: 0.5;
}
.fact-list .list-thumbnail{
  color: #424242;
  font-size: 45px;
  font-weight: 600;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  line-height: 0.7;
}
.fact-list .list-thumbnail .list-span{
  color: #727272;
  font-size: 20px;
  font-weight: 600;
}

/* Sponsor section styles */
.sponsor-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sponsor-info .sponsor-title{
  text-align: center;
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 24px;
}
.sponsor-info .sponsor-details{
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  width: 542px;
  height: 52px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 50px;
}
.sponsor-lists{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sponsor-lists .sopnsor-list img{
  width: 166px;
  height: 50px;
  padding-bottom: 150px;
}

/* Membership section styles */
.membership-section{
  padding-bottom: 130px;
}
.membership-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.membership-info .membership-title{
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 20px;
}
.membership-info .membership-details{
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  width: 542px;
  height: 52px;
  text-align: center;
  line-height: 26px;
  margin: 0;
  padding-bottom: 50px;
}
.membership-lists{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.membership-lists .membership-list{
  border: 1px solid #FF900E;
  width: 170px;
  height: 150px;
}
.membership-lists .membership-list img{
  width: 150px;
  height: 150px;
  padding: 0px 10px;
}

/* Media Query for Mobile Device */
@media screen and (max-width:767.98px) {
  .header-section{
    max-width: 100%;
    background: #FFF;
  } 
  .header{
    flex-direction: column;
  }
  .header-nav{
    flex-direction: column;
  }
  .nav-link ul{
    flex-direction: column;
    padding-left: 10px;
  }

}